.Logo{
    opacity: 0;
    animation-name: fadein, goUp;
    animation-duration: 3s, 1s;
    animation-delay: 0ms, 3000ms;
    animation-fill-mode: forwards;
}

.back{
    animation-name: bg, disappear;
    animation-duration: 1s, 3s;
    animation-delay: 3000ms, 6000ms;
    animation-fill-mode: forwards;
}

.noRead{
 display: none;
}

.content{
    animation-name: gotofront;
    animation-duration: 1s;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
}


h1{
    color: wheat;
}

@keyframes fadein {
   to{
    opacity: 1;
   }
}

@keyframes goUp {
    to{
        opacity: 1;
     scale: 0.7;
    }
 }

 @keyframes bg {
    to{
    background-color: #00010b;
    }
 }


 @keyframes disappear {
    to{
        opacity: 0;
    }
 }

 @keyframes gotofront {
    to{
        z-index: 20;
    }
 }
